.section {
    font-size: 6em;
    text-align: center;
}

.fixed {
    position: fixed;
}

.circular-image {
    border-radius: 50%;
    height: auto;
    width: 20%;
    min-width: 280px;
}

.headshots {
    position: relative;
    top: -10%;
}

@media (max-width: 600px) {
  .headshots {
      position: relative;
      top: 60px !important;
  }
}

body, button {
    font-family: 'Josefin Slab', serif;
    text-align:center;
}

#sign-in-button {
    position:fixed;
    height: 50px;
    width: 10%;
    background-color: #00a4ff;
    color: white;
    border: none;
    z-index:9;
    text-align:center;
    border-radius: 25px;
    margin-left:89%;
    margin-top:10px;
    font-size: large;
}

#menu{
    background-color: transparent;
    text-align: left !important;
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
}

#menu li {
    display:inline-block;
    margin:10px;
    margin-right: 0px !important;
    color: #000;
}
#menu li.active{
      border-bottom: groove medium white;
}
#menu li a:hover{
    color: white !important;
}
#menu li a,
#menu li.active a{
  text-decoration:none;
    padding: 9px 18px;
    display:block;
    color: black;
}
#menu li.active a{
    color: #fff;
}

#progress {
  position:relative;
  width:250px;
  height:20px;
  border:1px solid red;
  margin: 0 auto;
}
.progress-bar {
    background:blue;
    height:20px;
    width:0%;
}
