.section {
    font-size: 6em;
    text-align: center;
}

.fixed {
    position: fixed;
}

.circular-image {
    border-radius: 50%;
    height: auto;
    width: 20%;
    min-width: 280px;
}

.headshots {
    position: relative;
    top: -5%;
}

@media (max-width: 650px) {
  .headshots {
      position: relative;
      top: 60px !important;
  }
}

.vs-section {
    font-size: 35pt;
    margin-top: -8%;
    padding-bottom: 4%;
    width: 100%;
    text-align: center;
}

.progress-bar-e {
    background: #00cc66;
}

.progress-bar-r {
  background:#0099ff;
  /*  makes bar go from left to right
      display: block;
      float: right; */
}

body, button {
    font-family: 'Josefin Slab', serif;
    text-align:center;
}

#rob-img {
  border:10px solid  rgba(0, 153, 255, 1);
  background: transparent url('images/headshots/rob.jpg') center top no-repeat;
}

#rob-img:hover {
    border:10px solid  rgba(0, 153, 255, 1);
    background: url('images/headshots/rob_hover.png');
}

#em-img {
  border:10px solid #00cc66;
  background: transparent url('images/headshots/emelie.jpg') center top no-repeat;
}

#em-img {
  border:10px solid #00cc66;
  background: url('images/headshots/emelie_hover.png');
}

#sign-in-button {
    position:fixed;
    height: 50px;
    width: 10%;
    background-color: #00a4ff;
    color: white;
    border: none;
    z-index:9;
    text-align:center;
    border-radius: 25px;
    margin-left:39%;
    margin-top:10px;
    font-size: large;
}

#menu{
    background-color: transparent;
    text-align: left !important;
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
}

#menu li {
    display:inline-block;
    margin:10px;
    margin-right: 0px !important;
    color: #000;
}
#menu li.active{
      border-bottom: groove medium white;
}
#menu li a:hover{
    color: white !important;
}
#menu li a,
#menu li.active a{
  text-decoration:none;
    padding: 9px 18px;
    display:block;
    color: black;
}
#menu li.active a{
    color: #fff;
}

#shared-bar-bg-features {
  position:relative;
  width:300px;
  height:20px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.4);
}

#shared-bar-features {
  height:20px;
  width:0%;
  border-radius: 25px;
}
